<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LilyVulkan -->
      <package
            uri="org.sheepy.lily.vulkan.model.process.compute"
            class="org.sheepy.lily.vulkan.model.process.compute.ComputePackage"
            genModel="model/LilyVulkan.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated LilyVulkan -->
      <parser
            type="compute"
            class="org.sheepy.lily.vulkan.model.process.compute.util.ComputeResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LilyVulkan -->
      <package
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.model.process.ProcessPackage"
            genModel="model/LilyVulkan.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated LilyVulkan -->
      <parser
            type="process"
            class="org.sheepy.lily.vulkan.model.process.util.ProcessResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LilyVulkan -->
      <package
            uri="org.sheepy.lily.vulkan.model"
            class="org.sheepy.lily.vulkan.model.VulkanPackage"
            genModel="model/LilyVulkan.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated LilyVulkan -->
      <parser
            type="vulkan"
            class="org.sheepy.lily.vulkan.model.util.VulkanResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LilyVulkan -->
      <package
            uri="org.sheepy.lily.vulkan.model.resource"
            class="org.sheepy.lily.vulkan.model.vulkanresource.VulkanResourcePackage"
            genModel="model/LilyVulkan.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated LilyVulkan -->
      <parser
            type="vulkanresource"
            class="org.sheepy.lily.vulkan.model.vulkanresource.util.VulkanResourceResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LilyVulkan -->
      <package
            uri="org.sheepy.lily.vulkan.model.process.graphic"
            class="org.sheepy.lily.vulkan.model.process.graphic.GraphicPackage"
            genModel="model/LilyVulkan.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated LilyVulkan -->
      <parser
            type="graphic"
            class="org.sheepy.lily.vulkan.model.process.graphic.util.GraphicResourceFactoryImpl"/>
   </extension>

</plugin>
