<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Graphic -->
      <factory
            uri="org.sheepy.vulkan.model.process.graphic"
            class="org.sheepy.vulkan.model.process.graphic.provider.GraphicItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Graphic -->
      <extender
            uri="org.sheepy.vulkan.model.process"
            class="org.sheepy.vulkan.model.process.graphic.provider.GraphicItemProviderAdapterFactory$ProcessChildCreationExtender"/>
      <extender
            uri="org.sheepy.vulkan.model"
            class="org.sheepy.vulkan.model.process.graphic.provider.GraphicItemProviderAdapterFactory$VulkanChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Vulkan -->
      <factory
            uri="org.sheepy.vulkan.model"
            class="org.sheepy.vulkan.model.provider.VulkanItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Vulkan -->
      <extender
            uri="org.sheepy.common.model.application"
            class="org.sheepy.vulkan.model.provider.VulkanItemProviderAdapterFactory$ApplicationChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Compute -->
      <factory
            uri="org.sheepy.vulkan.model.process.compute"
            class="org.sheepy.vulkan.model.process.compute.provider.ComputeItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Compute -->
      <extender
            uri="org.sheepy.vulkan.model.process"
            class="org.sheepy.vulkan.model.process.compute.provider.ComputeItemProviderAdapterFactory$ProcessChildCreationExtender"/>
      <extender
            uri="org.sheepy.vulkan.model"
            class="org.sheepy.vulkan.model.process.compute.provider.ComputeItemProviderAdapterFactory$VulkanChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Process -->
      <factory
            uri="org.sheepy.vulkan.model.process"
            class="org.sheepy.vulkan.model.process.provider.ProcessItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Resource -->
      <factory
            uri="org.sheepy.vulkan.model.resource"
            class="org.sheepy.vulkan.model.resource.provider.ResourceItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Resource -->
      <extender
            uri="org.sheepy.vulkan.model"
            class="org.sheepy.vulkan.model.resource.provider.ResourceItemProviderAdapterFactory$VulkanChildCreationExtender"/>
   </extension>

</plugin>
