<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated LilyVulkan -->
      <factory
            uri="org.sheepy.lily.vulkan.extra.model.binding"
            class="org.sheepy.lily.vulkan.model.binding.provider.BindingItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated LilyVulkan -->
      <extender
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.model.binding.provider.BindingItemProviderAdapterFactory$ProcessChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated LilyVulkan -->
      <factory
            uri="org.sheepy.lily.vulkan.model.process.compute"
            class="org.sheepy.lily.vulkan.model.process.compute.provider.ComputeItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated LilyVulkan -->
      <extender
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.model.process.compute.provider.ComputeItemProviderAdapterFactory$ProcessChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated LilyVulkan -->
      <factory
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.model.process.provider.ProcessItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated LilyVulkan -->
      <extender
            uri="org.sheepy.lily.core.model.cadence"
            class="org.sheepy.lily.vulkan.model.process.provider.ProcessItemProviderAdapterFactory$CadenceChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.model.process.provider.ProcessItemProviderAdapterFactory$ProcessChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated LilyVulkan -->
      <factory
            uri="org.sheepy.lily.vulkan.model"
            class="org.sheepy.lily.vulkan.model.provider.VulkanItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated LilyVulkan -->
      <extender
            uri="org.sheepy.lily.core.model.application"
            class="org.sheepy.lily.vulkan.model.provider.VulkanItemProviderAdapterFactory$ApplicationChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.core.model.cadence"
            class="org.sheepy.lily.vulkan.model.provider.VulkanItemProviderAdapterFactory$CadenceChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.vulkan.model"
            class="org.sheepy.lily.vulkan.model.provider.VulkanItemProviderAdapterFactory$VulkanChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.model.provider.VulkanItemProviderAdapterFactory$ProcessChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated LilyVulkan -->
      <factory
            uri="org.sheepy.lily.vulkan.model.resource"
            class="org.sheepy.lily.vulkan.model.resource.provider.ResourceItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated LilyVulkan -->
      <extender
            uri="org.sheepy.lily.core.model.application"
            class="org.sheepy.lily.vulkan.model.resource.provider.ResourceItemProviderAdapterFactory$ApplicationChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.model.resource.provider.ResourceItemProviderAdapterFactory$ProcessChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated LilyVulkan -->
      <factory
            uri="org.sheepy.lily.vulkan.model.process.graphic"
            class="org.sheepy.lily.vulkan.model.process.graphic.provider.GraphicItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated LilyVulkan -->
      <extender
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.model.process.graphic.provider.GraphicItemProviderAdapterFactory$ProcessChildCreationExtender"/>
   </extension>

</plugin>
