<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Extra -->
      <factory
            uri="org.sheepy.lily.vulkan.extra.model.mesh"
            class="org.sheepy.lily.vulkan.extra.model.mesh.provider.MeshItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Extra -->
      <extender
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.extra.model.mesh.provider.MeshItemProviderAdapterFactory$ProcessChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.vulkan.model.resource"
            class="org.sheepy.lily.vulkan.extra.model.mesh.provider.MeshItemProviderAdapterFactory$VulkanResourceChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Extra -->
      <factory
            uri="org.sheepy.lily.vulkan.extra.model.nuklear"
            class="org.sheepy.lily.vulkan.extra.model.nuklear.provider.NuklearItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Extra -->
      <extender
            uri="org.sheepy.lily.core.model.ui"
            class="org.sheepy.lily.vulkan.extra.model.nuklear.provider.NuklearItemProviderAdapterFactory$UiChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.extra.model.nuklear.provider.NuklearItemProviderAdapterFactory$ProcessChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.vulkan.model.resource"
            class="org.sheepy.lily.vulkan.extra.model.nuklear.provider.NuklearItemProviderAdapterFactory$VulkanResourceChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.core.model.resource"
            class="org.sheepy.lily.vulkan.extra.model.nuklear.provider.NuklearItemProviderAdapterFactory$ResourceChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Extra -->
      <factory
            uri="org.sheepy.lily.vulkan.extra.model.rendering"
            class="org.sheepy.lily.vulkan.extra.model.rendering.provider.RenderingItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Extra -->
      <extender
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.extra.model.rendering.provider.RenderingItemProviderAdapterFactory$ProcessChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.vulkan.model.resource"
            class="org.sheepy.lily.vulkan.extra.model.rendering.provider.RenderingItemProviderAdapterFactory$VulkanResourceChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.core.model.resource"
            class="org.sheepy.lily.vulkan.extra.model.rendering.provider.RenderingItemProviderAdapterFactory$ResourceChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Extra -->
      <factory
            uri="org.sheepy.lily.vulkan.extra.model.sprite"
            class="org.sheepy.lily.vulkan.extra.model.sprite.provider.SpriteItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Extra -->
      <extender
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.extra.model.sprite.provider.SpriteItemProviderAdapterFactory$ProcessChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.vulkan.model.resource"
            class="org.sheepy.lily.vulkan.extra.model.sprite.provider.SpriteItemProviderAdapterFactory$VulkanResourceChildCreationExtender"/>
   </extension>

</plugin>
