<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Graphic -->
      <factory
            uri="org.sheepy.lily.vulkan.extra.model.graphic"
            class="org.sheepy.lily.vulkan.extra.model.graphic.provider.GraphicExtraItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Graphic -->
      <extender
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.extra.model.graphic.provider.GraphicExtraItemProviderAdapterFactory$ProcessChildCreationExtender"/>
   </extension>
</plugin>
