<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Graphic -->
      <package
            uri="org.sheepy.lily.vulkan.extra.model.graphic"
            class="org.sheepy.lily.vulkan.extra.model.graphic.GraphicExtraPackage"
            genModel="model/Graphic.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Graphic -->
      <parser
            type="graphicextra"
            class="org.sheepy.lily.vulkan.extra.model.graphic.util.GraphicExtraResourceFactoryImpl"/>
   </extension>
</plugin>
