<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GameOfLife -->
      <package
            uri="org.sheepy.vulkan.gameoflife.model"
            class="org.sheepy.vulkan.gameoflife.model.GameOfLifePackage"
            genModel="src/main/xcore/GameOfLife.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VulkanDemo -->
      <package
            uri="org.sheepy.vulkan.demo.model"
            class="org.sheepy.vulkan.demo.model.VulkanDemoPackage"
            genModel="src/main/xcore/VulkanDemo.xcore"/>
   </extension>

</plugin>
