<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Vulkan -->
      <package
            uri="org.sheepy.vulkan.model"
            class="org.sheepy.vulkan.model.VulkanPackage"
            genModel="src/main/xcore/Vulkan.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VulkanEnum -->
      <package
            uri="org.sheepy.vulkan.model.enumeration"
            class="org.sheepy.vulkan.model.enumeration.EnumerationPackage"
            genModel="src/main/xcore/VulkanEnum.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Resource -->
      <package
            uri="org.sheepy.vulkan.model.resource"
            class="org.sheepy.vulkan.model.resource.ResourcePackage"
            genModel="src/main/xcore/Resource.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Process -->
      <package
            uri="org.sheepy.vulkan.model.process"
            class="org.sheepy.vulkan.model.process.ProcessPackage"
            genModel="src/main/xcore/Process.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Compute -->
      <package
            uri="org.sheepy.vulkan.model.process.compute"
            class="org.sheepy.vulkan.model.process.compute.ComputePackage"
            genModel="src/main/xcore/Compute.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Graphic -->
      <package
            uri="org.sheepy.vulkan.model.process.graphic"
            class="org.sheepy.vulkan.model.process.graphic.GraphicPackage"
            genModel="src/main/xcore/Graphic.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Gui -->
      <package
            uri="org.sheepy.vulkan.model.gui"
            class="org.sheepy.vulkan.model.gui.GuiPackage"
            genModel="src/main/xcore/Gui.xcore"/>
   </extension>

</plugin>
