<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VulkanEnum -->
      <package
            uri="org.sheepy.vulkan.model.enumeration"
            class="org.sheepy.vulkan.model.enumeration.EnumerationPackage"
            genModel="model/VulkanEnum.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated VulkanEnum -->
      <parser
            type="enumeration"
            class="org.sheepy.vulkan.model.enumeration.util.EnumerationResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GraphicPipeline -->
      <package
            uri="org.sheepy.vulkan.model.graphicpipeline"
            class="org.sheepy.vulkan.model.graphicpipeline.GraphicpipelinePackage"
            genModel="model/GraphicPipeline.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated GraphicPipeline -->
      <parser
            type="graphicpipeline"
            class="org.sheepy.vulkan.model.graphicpipeline.util.GraphicpipelineResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Barrier -->
      <package
            uri="org.sheepy.vulkan.model.barrier"
            class="org.sheepy.vulkan.model.barrier.BarrierPackage"
            genModel="model/Barrier.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Barrier -->
      <parser
            type="barrier"
            class="org.sheepy.vulkan.model.barrier.util.BarrierResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Pipeline -->
      <package
            uri="org.sheepy.vulkan.model.pipeline"
            class="org.sheepy.vulkan.model.pipeline.PipelinePackage"
            genModel="model/Pipeline.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Pipeline -->
      <parser
            type="pipeline"
            class="org.sheepy.vulkan.model.pipeline.util.PipelineResourceFactoryImpl"/>
   </extension>
</plugin>
